

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width: 100%; /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera11.10+ */ /* IE10+ */ /* W3C */  
    margin-left: 0;
	height:100px;
}

.content-new-product .nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width: 100%; /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera11.10+ */ /* IE10+ */ /* W3C */  
    margin-left: 0;
	height:200px;
}

.content-new-product .nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position :relative;
    line-height:0px;
	
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position :relative;
    line-height:0px;
}
.nbs-flexisel-item  div{    
    position: relative;
    width: 100%;
    height: 85px;
    top: 8px;}
.content-new-product  .nbs-flexisel-item img {
cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #ebebeb;
    background: #e9e9e9;
    padding: 5px;
}
.nbs-flexisel-item img {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 20px;
    height: 40px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 1;
}

.content-new-product .nbs-flexisel-nav-left {
left: -18px;

    background: url(../images/left-par.png) no-repeat;
}

.content-new-product .nbs-flexisel-nav-right {
    right: -18px;
    background: url(../images/right-par.png) no-repeat;
}
